<style>
  .footer, .nav-link {
    padding: 0px 10px 5px 0px;
  }
</style>

<footer>
  <ul class="nav text-muted fw-500 fs-14 footer">
    <li class="nav-item">
      <a href="#" class="nav-link active text-muted" aria-current="page">Help</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-muted">Status</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-muted">Writers</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-muted">Blog</a>
    </li>
  </ul>
</footer>
